.card-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  flex-wrap: wrap;
}

.card {
  align-items: center;
  width: 30%;
  border: none;
  background-color: cornsilk;
}

.headshot {
  border-radius: 100%;
  box-shadow: 0 0 0 1em white;
  width: 100%;
}

.container {
  width: 72%;
  background-color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 100px;
}

.job-title {
  display: inline-block;
  font-weight: 800;
  background-color: #d08856;
  color: white;
  padding: 5px;
  width: 50%;
  border-radius: 1rem;
  margin-bottom: 10px;
}

p {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 500;
}

.button {
  padding: 10px;
  background-color: #41404c;
  border-radius: 1rem;
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
}

.button:hover {
  background-color: #d08856;
  color: white;
}

.empty-div {
  padding: 300px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 25%;
  }
}
